.timescale-row{
    display: grid;
    grid-template-columns: 120px auto;
}

.timescale-header{
    grid-column: 1 / 2;
    /* font-weight: bold; */
    background-color: darkgray;
}

.timescale-canvas{
    grid-column: 2 / 3;
}
